.form{
    width: 300px;
    margin: 0 auto;
}

div{
    margin-top: 10px;
}

button{
    margin-top: 10px;
}


.formLogin{
    background-color: #060606;
    padding: 1rem;
    width: fit-content;
    margin: 0 auto;
    color: white;
    border: 1px solid #02050a;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

input{
    background-color: #02050a;
    color: white;
}

input::placeholder{
    color: white;
}

input:focus{
    background-color: #02050a;
    color: white;
}

  















header {
    /* position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100vw;
    overflow: hidden;
    margin-top: -3vh;
    margin-left: -16.25vw;
    background-size: cover; */
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    /* width: auto;
    height: auto; */
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    margin-top: 15%;
    z-index: 2;
}

header .overlay {
    position: absolute;
    /* top: 0;
    left: 0; */
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}