<!-- https://www.sport.es/labolsadelcorredor/material-esencial-para-practicar-fitness-en-el-gimnasio/ -->
<h2>Pesos</h2>

<div class="row">
  <div class="col-9">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/mancuernas.jpg">
                <div class="card-body">
                  <p class="card-text">Mancuernas</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(0)" type="button" class="btn btn-sm btn-outline-success"><i
                          class="fas fa-cart-plus"></i>Añadir</button><!-- *ngIf="loggedIn" -->
                    </div>
                    <small class="text-body-secondary">{{precioMaterial[0]}}€</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/pesaRusa.jpg">
                <div class="card-body">
                  <p class="card-text">Pesas Rusas</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(1)" type="button" class="btn btn-sm btn-outline-success"><i
                          class="fas fa-cart-plus"></i>Añadir</button><!-- *ngIf="loggedIn" -->
                    </div>
                    <small class="text-body-secondary">{{precioMaterial[1]}}€</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/discosHierro.jpeg">
                <div class="card-body">
                  <p class="card-text">Discos de hierro</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                    </div>
                    <small class="text-body-secondary"> plazas</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <h3>Carrito</h3>
    <div class="equipamiento">{{carrito[0]}}</div>
    <div class="total">Total: {{total}} €</div>
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
</div>

<!-- <div class="total">Total: {{total}} €</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/mancuernas.jpg">
            <div class="card-body">
              <p class="card-text">Mancuernas</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button  (click)="add(30)" type="button" class="btn btn-sm btn-outl<ine-success"><i class="fas fa-cart-plus"></i>Añadir</button>*ngIf="loggedIn"
                  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                </div>
                <small class="text-body-secondary">{{mancuerna}}€</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/pesaRusa.jpg">
            <div class="card-body">
              <p class="card-text">Pesas Rusas</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button  (click)="add(25)" type="button" class="btn btn-sm btn-outl<ine-success"><i class="fas fa-cart-plus"></i>Añadir</button>*ngIf="loggedIn"
                </div>
                <small class="text-body-secondary">{{pesaRusa}}€</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/discosHierro.jpeg">
            <div class="card-body">
              <p class="card-text">Discos de hierro</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"> plazas</small>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>



    <div class="carousel-item">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/bodyCombat.jpeg">
            <div class="card-body">
              <p class="card-text">Consiste en realizar movimientos basados en distintas artes marciales siguiendo el
                ritmo de una base musical.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"> plazas</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/spinning.jpg">
            <div class="card-body">
              <p class="card-text">Spinning es un ejercicio aeróbico, que se ha convertido en una de las actividades
                físicas más demandadas</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"> plazas</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="carousel-item">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/bodyCombat.jpeg">
            <div class="card-body">
              <p class="card-text">Consiste en realizar movimientos basados en distintas artes marciales siguiendo el
                ritmo de una base musical.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"> plazas</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/bodyPump.jpg">
            <div class="card-body">
              <p class="card-text">BodyPump es un programa grupal de entrenamiento basado en el levantamiento de pesas
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary">plazas</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/spinning.jpg">
            <div class="card-body">
              <p class="card-text">Spinning es un ejercicio aeróbico, que se ha convertido en una de las actividades
                físicas más demandadas</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"> plazas</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button> -->





<h2>Otros</h2>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/esterilla.jpeg">
            <div class="card-body">
              <p class="card-text">Esterilla</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"> plazas</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/pesaRusa.jpg">
            <div class="card-body">
              <p class="card-text">Pesas Rusas</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary">plazas</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/discosHierro.jpeg">
            <div class="card-body">
              <p class="card-text">Discos de hierro</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"> plazas</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="carousel-item">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/bodyCombat.jpeg">
            <div class="card-body">
              <p class="card-text">Consiste en realizar movimientos basados en distintas artes marciales siguiendo el
                ritmo de una base musical.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"> plazas</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/spinning.jpg">
            <div class="card-body">
              <p class="card-text">Spinning es un ejercicio aeróbico, que se ha convertido en una de las actividades
                físicas más demandadas</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"> plazas</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="carousel-item">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/bodyCombat.jpeg">
            <div class="card-body">
              <p class="card-text">Consiste en realizar movimientos basados en distintas artes marciales siguiendo el
                ritmo de una base musical.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"> plazas</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/bodyPump.jpg">
            <div class="card-body">
              <p class="card-text">BodyPump es un programa grupal de entrenamiento basado en el levantamiento de pesas
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary">plazas</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/spinning.jpg">
            <div class="card-body">
              <p class="card-text">Spinning es un ejercicio aeróbico, que se ha convertido en una de las actividades
                físicas más demandadas</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"> plazas</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>