<h2>Pesos</h2>

<div class="row">
  <div class="col-9">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col" *ngFor="let material of materiales.slice(0, 3); let i=index">
              <div class="card shadow-sm">
                <img src={{imgMateriales[i]}}>
                <div class="card-body">
                  <p class="card-text">{{nombreMaterial[i]}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(i)" *ngIf="loggedIn" type="button"
                        class="btn btn-sm btn-outline-success"><i class="fas fa-cart-plus"></i>Añadir</button>
                    </div>
                    <small class="text-body-secondary">{{precioMaterial[i]}}€</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">

    <div class="card shadow-sm">
      <div class="card-body">
        <h3>Carrito</h3>
        <div class="equipamiento" *ngFor="let item of carrito; let i=index">
          <div class="items"><strong>{{item}}</strong><i class="fa fa-trash" (click)="removeFromCart(item, i)"></i>
          </div>
        </div>
        <br>
        <div class="total">Total: {{total}} €</div>
        <ngx-paypal *ngIf="itemsCarrito" [config]="payPalConfig"></ngx-paypal>
      </div>
    </div>
  </div>
</div>

<br>
<h2>Otros</h2>
<div class="row">
  <div class="col-9">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            <div class="col" *ngFor="let material of materiales.slice(3, 6); let i=index">
              <div class="card shadow-sm">
                <img src={{imgMateriales[i+3]}}>
                <div class="card-body">
                  <p class="card-text">{{nombreMaterial[i+3]}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(i+3)" *ngIf="loggedIn" type="button"
                        class="btn btn-sm btn-outline-success"><i class="fas fa-cart-plus"></i>Añadir</button>
                    </div>
                    <small class="text-body-secondary">{{precioMaterial[i+3]}}€</small>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>