<h2>Pesos</h2>

<div class="row">
  <div class="col-9">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/mancuernas.jpg">
                <div class="card-body">
                  <p class="card-text">Mancuernas</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(0)" *ngIf="loggedIn" type="button" class="btn btn-sm btn-outline-success"><i
                          class="fas fa-cart-plus"></i>Añadir</button>
                    </div>
                    <small class="text-body-secondary">{{precioMaterial[0]}}€</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/pesaRusa.jpg">
                <div class="card-body">
                  <p class="card-text">Pesas Rusas</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(1)" *ngIf="loggedIn" type="button" class="btn btn-sm btn-outline-success"><i
                          class="fas fa-cart-plus"></i>Añadir</button>
                    </div>
                    <small class="text-body-secondary">{{precioMaterial[1]}}€</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/discosHierro.jpeg">
                <div class="card-body">
                  <p class="card-text">Discos de hierro</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(2)" *ngIf="loggedIn" type="button" class="btn btn-sm btn-outline-success"><i
                          class="fas fa-cart-plus"></i>Añadir</button>
                    </div>
                    <small class="text-body-secondary">{{precioMaterial[2]}}€</small>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">

    <div class="card shadow-sm">
      <div class="card-body">
        <h3>Carrito</h3>
        <div class="equipamiento" *ngFor="let item of carrito">
          <div class="items"><strong>{{item}}</strong><i class="fa fa-trash" (click)="removeFromCart(item)"></i></div>
        </div>
        <br>
        <div class="total">Total: {{total}} €</div>
        <ngx-paypal *ngIf="itemsCarrito" [config]="payPalConfig"></ngx-paypal>
      </div>
    </div>
  </div>
</div>

<br>
<h2>Otros</h2>
<div class="row">
  <div class="col-9">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/esterilla.jpeg">
                <div class="card-body">
                  <p class="card-text">Esterilla</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(3)" *ngIf="loggedIn" type="button" class="btn btn-sm btn-outline-success"><i
                          class="fas fa-cart-plus"></i>Añadir</button>
                    </div>
                    <small class="text-body-secondary">{{precioMaterial[3]}}€</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/bandaElastica.jpg">
                <div class="card-body">
                  <p class="card-text">Banda Elastica</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(4)" *ngIf="loggedIn" type="button" class="btn btn-sm btn-outline-success"><i
                          class="fas fa-cart-plus"></i>Añadir</button>
                    </div>
                    <small class="text-body-secondary">{{precioMaterial[4]}}€</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/comba.jpg">
                <div class="card-body">
                  <p class="card-text">Comba</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button (click)="addToCart(5)" *ngIf="loggedIn" type="button" class="btn btn-sm btn-outline-success"><i
                          class="fas fa-cart-plus"></i>Añadir</button>
                    </div>
                    <small class="text-body-secondary">{{precioMaterial[5]}}€</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

       <!--  <div class="carousel-item">
          <div class="col">
            <div class="card shadow-sm">
              <img src="assets/comba.jpg">
              <div class="card-body">
                <p class="card-text">Otro</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button (click)="addToCart(6)" *ngIf="loggedIn" type="button" class="btn btn-sm btn-outline-success"><i
                        class="fas fa-cart-plus"></i>Añadir</button>
                  </div>
                  <small class="text-body-secondary">{{precioMaterial[6]}}€</small>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>