.items{
    border: 1px solid grey;
    border-radius: 5px;
    width: 16vw;
    text-align: center;
    margin-bottom: 1vh;
}

/* .paypal-button-number-1, .paypal-button-number-2{
    display: none!important;
}


.paypal-button-number-1{

} */


.fa-trash{
    color: red;
}