<nav class="navbar navbar-dark bg-dark mb-4">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/public">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/public/clases">Clases</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/public/material">Material</a>
        </li>
        
    </ul>
    <div class="navbar-nav">
        <a class="nav-link" routerLink="/public/login" *ngIf="!loggedIn">Login</a>
        <a class="nav-link" routerLink="/public/register" *ngIf="!loggedIn">Register</a>
        <a class="nav-link" routerLink="/public" *ngIf="loggedIn" (click)="logout()">Logout</a>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div> 