<main>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Clases</h1>
      <p class="lead text-body-secondary">Las clases colectivas cada día tienen más adeptos.<br> Es una forma divertida, rápida y diferente de ponerse en forma.</p>
    </div>
  </div>
</section>

<div class="album py-5 bg-body-tertiary">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/BodyCombat.jpg">
          <div class="card-body">
            <h3>Body Combat</h3>
            <p class="card-text">Consiste en realizar movimientos basados en distintas artes marciales siguiendo el ritmo de una base musical.</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button *ngIf="loggedIn" (click)="apuntarse(1)" [disabled]="aBodyCombat" [disabled]="bodyCombatPlazas" type="button" class="btn btn-sm btn-outline-success">Apuntarse</button>
                  <button *ngIf="aBodyCombat" (click)="desapuntarse(1)" type="button" class="btn btn-sm btn-outline-danger">Desapuntarse</button>
                </div>
                <small class="text-body-secondary">{{pBodyCombat}} plazas</small>
              </div>            
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/BodyPump.jpg">
          <div class="card-body">
            <h3>Body Pump</h3>
            <p class="card-text">BodyPump es un programa grupal de entrenamiento basado en el levantamiento de pesas con el objetivo de fortalecer con múltiples repeticiones</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button *ngIf="loggedIn" (click)="apuntarse(2)" [disabled]="aBodyPump" [disabled]="bodyPumpPlazas" type="button" class="btn btn-sm btn-outline-success">Apuntarse</button>
                    <button *ngIf="aBodyPump" (click)="desapuntarse(2)" type="button" class="btn btn-sm btn-outline-danger">Desapuntarse</button>
                  </div>
                <small class="text-body-secondary">{{pBodyPump}} plazas</small>
              </div>    
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/Spinning.jpg">
          <div class="card-body">
            <h3>Spinning</h3>
            <p class="card-text">Spinning es un ejercicio aeróbico, que se ha convertido en una de las actividades físicas más demandadas</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button *ngIf="loggedIn" (click)="apuntarse(3)" [disabled]="aSpinning" [disabled]="spinningPlazas" type="button" class="btn btn-sm btn-outline-success">Apuntarse</button>
                    <button *ngIf="aSpinning" (click)="desapuntarse(3)" type="button" class="btn btn-sm btn-outline-danger">Desapuntarse</button>
                  </div>
                <small class="text-body-secondary">{{pSpinning}} plazas</small>
              </div>    
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/Yoga.jpg">
          <div class="card-body">
            <h3>Yoga</h3>
            <p class="card-text">El yoga utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud general</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button *ngIf="loggedIn" (click)="apuntarse(4)" [disabled]="aYoga" [disabled]="yogaPlazas" type="button" class="btn btn-sm btn-outline-success">Apuntarse</button>
                    <button *ngIf="aYoga" (click)="desapuntarse(4)" type="button" class="btn btn-sm btn-outline-danger">Desapuntarse</button>
                  </div>
                <small class="text-body-secondary">{{pYoga}} plazas</small>
              </div>    
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/Xcore.jpg">
          <div class="card-body">
            <h3>Xcore</h3>
            <p class="card-text">Xcore consiste en entrenar todo tu cuerpo con una barra de aluminio rellena de arena que se mueve de un lado a otro</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button *ngIf="loggedIn" (click)="apuntarse(5)" [disabled]="aXcore" [disabled]="xcorePlazas" type="button" class="btn btn-sm btn-outline-success">Apuntarse</button>
                    <button *ngIf="aXcore" (click)="desapuntarse(5)" type="button" class="btn btn-sm btn-outline-danger">Desapuntarse</button>
                  </div>
                <small class="text-body-secondary">{{pXcore}} plazas</small>
              </div>    
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/Zumba.jpg">
          <div class="card-body">
            <h3>Zumba</h3>
            <p class="card-text">El zumba es una disciplina creada para fortalecer y dar flexibilidad al cuerpo mediante movimientos de baile</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button *ngIf="loggedIn" (click)="apuntarse(6)" [disabled]="aZumba" [disabled]="zumbaPlazas" type="button" class="btn btn-sm btn-outline-success">Apuntarse</button>
                    <button *ngIf="aZumba" (click)="desapuntarse(6)" type="button" class="btn btn-sm btn-outline-danger">Desapuntarse</button>
                  </div>
                <small class="text-body-secondary">{{pZumba}} plazas</small>
              </div>    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>


  <!-- <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> -->
