<header>

    <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>

    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline autoplay loop controlslist="noDownload"
        poster="https://cdn.freeletics.com/assets/main/images/video_poster-00c16745b2c6ed7a5a57..png?auto=format%2Ccompress"
        class="CqpHuHal5NTV">
        <source src="https://freeletics-assets.s3.eu-west-1.amazonaws.com/videos/home_page_video_desktop.mp4"
            type="video/mp4">
    </video>

    <!-- The header content -->
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Bienvenido a Healthy Life</h1>
                <a class="btn btn-lg btn-primary" routerLink="/login" *ngIf="!loggedIn">Login</a>
                <br>
                <h3 *ngIf="loggedIn">Hola {{user.name}}</h3>
            </div>
        </div>
    </div>
</header>